@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2a2f4f;
  color: white;
}

.app {
  @apply flex flex-row;
}

.head_text {
  @apply mt-5 text-4xl font-extrabold leading-[1.15] text-white sm:text-6xl text-center;
}
